#bsub-admin-root .customer-info__header-message,
#customer-portal-root .customer-info__header-message,
.bold-subscriptions-customer-portal .customer-info__header-message {
  color: #000 !important;
  font-weight: 500 !important;
}

#bsub-admin-root .customer-info__section,
#customer-portal-root .customer-info__section,
.bold-subscriptions-customer-portal .customer-info__section {
  border-radius: 8px !important;
  box-shadow: none !important;
  padding: 24px !important;
  border: 2px solid #e0d7bd !important;
}

#bsub-admin-root .customer-info__header-item h3,
#bsub-admin-root .customer-info__header-item p,
#customer-portal-root .customer-info__header-item h3,
#customer-portal-root .customer-info__header-item p,
.bold-subscriptions-customer-portal .customer-info__header-item h3,
.bold-subscriptions-customer-portal .customer-info__header-item p {
  margin: 0 !important;
  margin-bottom: 1rem !important;
}

#bsub-admin-root .details-section > p,
#customer-portal-root .details-section > p,
.bold-subscriptions-customer-portal .details-section > p {
  color: #464646 !important;
  font-weight: 500 !important;
}

#bsub-admin-root .active-subscription,
#bsub-admin-root .inactive-subscription,
#customer-portal-root .active-subscription,
#customer-portal-root .inactive-subscription,
.bold-subscriptions-customer-portal .active-subscription,
.bold-subscriptions-customer-portal .inactive-subscription {
  border: none !important;
  border-radius: 12px !important;
  padding: 1rem !important;
  box-shadow: none !important;
  margin-bottom: 1rem !important;
  background-color: #ece7d8 !important;
}

#customer-portal-root .details-section > h3 {
  font-size: 3rem !important;
  margin-bottom: 2rem !important;
}

#bsub-admin-root .edit-text-button,
#customer-portal-root .edit-text-button,
.bold-subscriptions-customer-portal .edit-text-button {
  background: black !important;
  border: none !important;
  color: white !important;
  cursor: pointer !important;
  display: inline !important;
  font: inherit !important;
  padding: 0 !important;
  text-decoration: none !important;
  text-transform: capitalize !important;
  padding: 1rem 1.5rem !important;
  border-radius: 99px !important;
  font-size: small !important;
  font-weight: bold !important;
}

#customer-portal-root .details-section .bsub-name-price {
  margin: 1rem 0rem !important;
}

#customer-portal-root .bsub-link a {
    background-color: transparent !important;
    color: #000000 !important;
    text-decoration: underline !important;
}

#customer-portal-root .bsub-link a:hover {
    color: #707070 !important;
}

#customer-portal-root .subscriptions-container {
    margin-top: 4rem !important;
}